@model QuadBike.Model.ViewModel.TripViewModels.TripViewModel

@{
    ViewData["Title"] = "Trips";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Trips:</h2>
<table class="table table-hover">
    <thead>
        <tr><th>Img</th><th>Trip Name</th><th>Type</th><th>Distance</th><th>Amount of people</th><th>Start Trip</th><th>End Trip</th><th>Description</th><th>Price</th><th></th></tr>
    </thead>
    @foreach (var trip in Model.Trips)
    {
        <tr>
            <td><img class="bd-placeholder-img card-img-top" style="width:50px; height:50px" src="data:image/jpg;base64,@(Convert.ToBase64String(trip.TripImg))" /></td>
            <td>@trip.TripName</td>
            <td>@trip.Type</td>
            <td>@trip.Distance km</td>
            <td>@trip.AmountOfPeople</td>
            <td>@trip.StartDate</td>
            <td>@trip.EndTrip</td>
            <td>@trip.Description</td>
            <td>@trip.Price $</td>
            <td>
                <form asp-controller="Trip" asp-action="Delete" asp-route-id="@trip.Id" method="post">
                    <a asp-controller="Trip" asp-action="Edit" asp-route-id="@trip.Id" class="btn btn-sm btn-primary">Update</a>
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    }
</table>
<page-link page-model="Model.PageViewModel" page-action="Index"></page-link>
<div>
    <a class="btn btn-primary" asp-controller="Trip" asp-action="Create">Add Trip</a>
</div>