@model IEnumerable<QuadBike.Model.ViewModel.CommentViewModels.CommentViewModel>

@foreach (var u in Model)
{
    <div id="div1" class="row">
        <div class="card col-sm-5 shadow-sm">
            <div class="panel panel-default">
                <div>
                    <input type="hidden" id="commentId" data-comment-id="@u.CommentId" />
                    <input type="hidden" id="providerId" data-provider-id="@u.AccountId" />
                    <strong>@u.UserName</strong>
                    <span class="text-muted">commented @String.Format("{0:g}", u.Time)</span>
                    <button class="close" id="delCom" formmethod="delete">&times;</button>
                </div>
                <div class="panel-body">
                    @u.Content
                </div>
            </div>
        </div>
    </div>

    <br />
}

<script type="text/javascript">
    $("#delCom").click(function () {
        //debugger;
        var commentId = $("#commentId").data('commentId');
        var providerId = $("#providerId").data('providerId');

        $.ajax({
            type: 'DELETE',
            url: '/Comment/Delete',
            data: {
                CommentId: commentId,
                AccountId: providerId
            },
            success: function () {
                alert("Delete!");
            },
        });
    });
</script>