@model QuadBike.Model.ViewModel.BikeViewModels.BikeViewModel

@{
    ViewData["Title"] = "Bikes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bikes:</h2>

<form asp-controller="Bike" asp-action="Index" class="form-inline" method="get">
    @Html.TextBox("name", Model.BikeFilterViewModel.SelectedName, htmlAttributes: new { @class = "form-control mr-sm-2" })
    @*<input class="form-control mr-sm-2" type="search" placeholder="Search">*@
    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Find</button>
</form>
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th><a asp-action="Index">Img</a></th>
            <th><a asp-action="Index" asp-route-sortOrder="@(Model.BikeSortViewModel.NameSort)" asp-route-name="@(Model.BikeFilterViewModel.SelectedName)">Name</a></th>
            <th><a asp-action="Index" asp-route-sortOrder="@(Model.BikeSortViewModel.MaxSpeedSort)" asp-route-name="@(Model.BikeFilterViewModel.SelectedName)">Max speed</a></th>
            <th><a asp-action="Index" asp-route-sortOrder="@(Model.BikeSortViewModel.PowerSort)" asp-route-name="@(Model.BikeFilterViewModel.SelectedName)">Power</a></th>
            <th><a asp-action="Index" asp-route-sortOrder="@(Model.BikeSortViewModel.TypeEngineSort)" asp-route-name="@(Model.BikeFilterViewModel.SelectedName)">TypeEngine</a></th>
            <th><a asp-action="Index" asp-route-sortOrder="@(Model.BikeSortViewModel.FuelSort)" asp-route-name="@(Model.BikeFilterViewModel.SelectedName)">Fuel(L)</a></th>
            <th><a asp-action="Index">Description</a></th>
            <th><a asp-action="Index" asp-route-sortOrder="@(Model.BikeSortViewModel.PriceSort)" asp-route-name="@(Model.BikeFilterViewModel.SelectedName)">Price</a></th>
            <th></th>
        </tr>
    </thead>
    @foreach (var bike in Model.Bikes)
    {
        <tr>
            <td><img class="bd-placeholder-img card-img-top" style="width:50px; height:50px" src="data:image/jpg;base64,@(Convert.ToBase64String(bike.BikeImg))" /></td>
            <td>@bike.Name</td>
            <td>@bike.MaxSpeed km/h</td>
            <td>@bike.Power</td>
            <td>@bike.TypeEngine</td>
            <td>@bike.Fuel</td>
            <td>@bike.Description</td>
            <td>@bike.Price $</td>
            <td>
                <form asp-controller="Bike" asp-action="Delete" asp-route-id="@bike.Id" method="post">
                    <a asp-controller="Bike" asp-action="Edit" asp-route-id="@bike.Id" class="btn btn-sm btn-primary">Update</a>
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    }
</table>
<page-link page-model="Model.PageViewModel" page-action="Index"></page-link>
<div>
    <a class="btn btn-primary" asp-controller="Bike" asp-action="Create">Add Bike</a>
</div>