@using QuadBike.Model.Entities
@model QuadBike.Model.ViewModel.Pagination.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="album py-5 bg-light">
    <div class="container">
        <div class="jumbotron mt-4">
            <h4>ATV marketplace</h4>
            <p class="lead">
                Quad bikes are vehicles designed for off-road use.
                They are not suited for travelling on public roads, mostly because they are light and offer little protection from other vehicles should you have a collision.
                We want to solve this situation giving you a chance to enjoy this type of transport.
            </p>
            <a class="btn btn-primary" href="/docs/4.3/components/navbar/" role="button">Learn more »</a>
        </div>
        <div class="row">
            @foreach (Bike u in Model.Bikes)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Empty</text></svg>
                        <div class="card-body">
                            <p class="card-text">
                                <div>
                                    Name: @u.Name
                                </div>
                                <div>
                                    Max Speed: @u.MaxSpeed
                                </div>
                                <div>
                                    Description: @u.Description
                                </div>
                                <div>
                                    Price: @u.Price
                                </div>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">More</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Rent</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        @if (Model.PageViewModel.HasPreviousPage)
        {
            <a asp-action="Index" asp-route-page="@(Model.PageViewModel.PageNumber - 1)" class="btn btn-primary btn">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Previous
            </a>
        }
        @if (Model.PageViewModel.HasNextPage)
        {
            <a asp-action="Index" asp-route-page="@(Model.PageViewModel.PageNumber + 1)" class="btn btn-primary btn">
                Next
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        }
    </div>
</div>