@using QuadBike.Model.Entities
@model QuadBike.Model.ViewModel.Pagination.IndexViewModel

@addTagHelper "*, QuadBike.Website"

@{
    ViewData["Title"] = "Home Page";
}
@*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>*@
@*<link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css">*@
@*<script type="text/javascript" src="~/vendor/bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js"></script>
    <link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css" />*@
@*https://trentrichardson.com/examples/timepicker/*@

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js"></script>

<div class="album bg-light">
    <div class="container">
        <div class="jumbotron mt-4">
            <h4>ATV marketplace</h4>
            <p class="lead">
                Quad bikes are vehicles designed for off-road use.
                They are not suited for travelling on public roads, mostly because they are light and offer little protection from other vehicles.
                But we want to solve this situation giving you a chance to enjoy this type of transport.
            </p>
            <a class="btn btn-primary" asp-controller="Home" asp-action="ListTrips" role="button">See trips »</a>
        </div>
        <br />
        <div class="row">
            @foreach (var u in Model.Bikes)
            {
                <div class="col-md-4 align-self-between">
                    <div class="card mb-4 shadow-sm">
                        @if (u.BikeImg != null)
                        {
                            <div class="view view-cascade overlay">
                                <img class="bd-placeholder-img card-img-top" style="width:100%; height:225px" src="data:image/jpg;base64,@(Convert.ToBase64String(u.BikeImg))" alt="Card image cap" />
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                        }
                        <div class="card-body card-body-cascade">
                            <p class="card-text">
                                <div>
                                    <b>Name:</b> @u.Name
                                </div>
                                <div>
                                    <b>Type Engine:</b> @u.TypeEngine
                                </div>
                                <div>
                                    <b>Max Speed:</b> @u.MaxSpeed km / hour
                                </div>
                                <div>
                                    <b>Power:</b> @u.Power
                                </div>
                                <div>
                                    <b>Fuel:</b> @u.Fuel
                                </div>
                                <div>
                                    <b>Description:</b> @u.Description
                                </div>
                                <div>
                                    <b>Price:</b> @u.Price $ per one day
                                </div>
                                <div class="btn-group">
                                    <b>Provider:&nbsp</b> <a asp-controller="Home" asp-action="ProviderBike" asp-route-accId="@u.AccountId"> @u.Email</a>
                                </div>
                            </p>
                            <hr />
                            <div class="d-flex justify-content-between align-items-center">
                                <form class="needs-validation" asp-controller="Cart" asp-action="AddToShoppingCart" asp-route-bikeId="@u.Id" novalidate>
                                    <div class="form-groupe">
                                        <label><b>Date Start</b></label>
                                        <input class="form-control mb-2" id="startTime" placeholder="Date start" required>
                                        <span class="invalid-feedback">
                                            Cannot be empty!
                                        </span>
                                    </div>

                                    <div class="form-groupe">
                                        <label><b>Date End</b></label>
                                        <input class="form-control mb-2" id="endTime" placeholder="Date end" required>
                                        <span class="invalid-feedback">
                                            Cannot be empty!
                                        </span>
                                    </div>
                                    <button class="btn btn-sm btn-outline-success" type="submit">Rent</button>
                                    @*<a class="btn btn-sm btn-outline-success" asp-controller="Cart" asp-action="AddToShoppingCart" asp-route-bikeId="@u.Id">Rent</a>*@
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <page-link page-model="Model.PageViewModel" page-action="Index"></page-link>
    </div>
</div>

<script type="text/javascript">
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
<script type="text/javascript">
    $(document).ready(function () {
        if ($('#popupdiv').html() != '') {
            $("#popupdiv").show();
        }
    });

    $(function () {

        $.datepicker.setDefaults($.datepicker.regional['en']);
        $('#startTime').datetimepicker(
            {
                onSelect: function (date) {
                    var dt1 = $('#startTime').datepicker('getDate');
                    var dt2 = $('#endTime').datepicker('getDate');
                    if (dt1 > dt2) {
                        $('#endTime').datepicker('setDate', dt1);
                    }
                    $('#endTime').datepicker('option', 'minDate', dt1);
                },
                controlType: 'select',
                oneLine: true,
                timeFormat: 'hh:mm tt',
                showTime: true,
                format: 'dd/MM/yyyy hh:mm:ss',
                numberOfMonths: [1, 2],
                constrainInput: true,
                changeMonth: true,
                changeYear: true,
                yearRange: '2019:2100',
                pickTime: true,
                minDate: "+0",
                maxDate: "+31",
                showTime: true
            });
        $('#endTime').datetimepicker(
            {
                onSelect: function (date) {
                    var dt1 = $('#startTime').datepicker('getDate');
                    var dt2 = $('#endTime').datepicker('getDate');
                    if (dt1 < dt2) {
                        $('#endTime').datepicker('setDate', dt2);
                    }
                    $('#endTime').datepicker('option', 'minDate', dt2);
                },
                showTime: true,
                format: 'dd/MM/yyyy hh:mm:ss',
                numberOfMonths: [1, 2],
                constrainInput: true,
                changeMonth: true,
                changeYear: true,
                yearRange: '2019:2100',
                pickTime: true,
                minDate: "+0",
                maxDate: "+31",
                showTime: true,
                addSliderAccess: true,
                sliderAccessArgs: { touchonly: false }
            });
    });
</script>