@model IEnumerable<QuadBike.Model.Entities.Account>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <tr><th>Img</th><th>Name</th><th>PhoneNumber</th><th>Adress</th><th>Description</th><th></th></tr>
    @foreach (var person in Model)
    {
        <tr>
            @if (User.IsInRole("provider"))
            {
                @if (person.AccountImg != null)
                 {
                     <td><img class="bd-placeholder-img card-img-top" style="width:50px; height:50px" src="data:image/jpg;base64,@(Convert.ToBase64String(person.AccountImg))"/></td>
                 }
            }
            <td>@person.Name</td>
            <td>@person.PhoneNumber</td>
            <td>@person.Adress</td>
            <td>@person.Description</td>
            <td>
                <a asp-controller="Account" asp-action="Edit" asp-route-id="@person.Id" class="btn btn-sm btn-primary">Update</a>
            </td>
        </tr>
    }
</table>